.info span {
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.display {
    display: block;
}